.product-card-img {
  width: 100%;
  height: 180px;
}

.product-card-link {
  color: #212529;
  text-decoration: none;
}

.product-card-link:hover {
  color: #767778;
}

.invalid {
  border-color: red;
}